<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @platform.name %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @platform.logo_url %>
</p>

<p>
  <strong>Url:</strong>
  <%= @platform.url %>
</p>

<%= link_to 'Edit', edit_platform_path(@platform) %> |
<%= link_to 'Back', platforms_path %>
